@font-face {
  font-family: 'MyFont';
  src: url('./Font.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'MyFont', sans-serif;
  list-style-type: none;
}

nav {
  display: flex;
  gap: 5vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

a {
  color: black;
}

h1 {
  display: none;
}

nav ul {
  display: flex;
  gap: 6vw;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 10%;
  bottom: 0;
  border-top: 1px solid black;
  text-align: center;
}

#header-logo {
  height: 3rem;
}


/* poupup style starteded */

.popup-window {
  width: 80%;
  margin: 2px auto;
  background-color: aquamarine;
}

#btnClose {
  float: right;
  font-size: 32px;
}

.meal-image img {
  margin-left: 25%;
  width: 500px;
  height: 350px;
}

.food-name {
  text-align: center;
}

.names-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 30px; */
  row-gap: 30px;
  column-gap: 20px;
  padding: 8px 30px;
}

.invisible {
  display: none;
}