@font-face {
  font-family: 'MyFont';
  src: url('./Font.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'MyFont', sans-serif;
  list-style-type: none;
}

nav {
  display: flex;
  gap: 5vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

a {
  color: black;
}

h1 {
  display: none;
}

nav ul {
  display: flex;
  gap: 6vw;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0;
  border-top: 1px solid black;
  text-align: center;
}

#header-logo {
  height: 3rem;
}

.food-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2);
  gap: 2vw;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  align-items: center;
  align-self: center;
}

.card-element {
  /* height: 15vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 15px;
}

.meal-img {
  height: 20vh;
  width: auto;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.like-icon { 
  height: 20px;
}

.like-div {
display: flex;
flex-direction: column;
align-items: center;
}

.meal-name {
/*   width: 15vw; */
}